/*----IMPRESSÃO----*/

@media print{

  *{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    -webkit-print-color-adjust: exact;
  }

  h1{
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: normal;
    line-height: 9px;
    padding: 0;
    margin: 0;
  }

  h2{
    font-size: 11px !important;
    font-weight: normal;
    padding-top: 0;
    margin: 0;
    line-height: 7px;
  }

  #gru_barcode{
    clear: left;
    padding: 10px 0 0 15px;
    text-indent: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }

  .powerhidden{
    display: none;
    visibility: hidden;
    font-size: 0;
    width: 0;
    height: 0;
    text-indent: -40000px;
  }

  table{
    width: 100%;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }

  table td{
    padding: 5px 8px;
  }

  table td.col50{
    width: 50%;
  }

  table td.col38{
    width: 38%;
    text-align: center;
    border-left: 0;
    padding-left: 0;
  }

  table td.col25{
    width: 25%;
  }

  table td.col12{
    width: 12%;
    text-align: right;
    border-right: 0;
    padding-right: 0;
  }

  table td.center{
    text-align: center;
  }

  table td.right_bold{
    text-align: right;
    font-weight: bold;
  }

}

@page {
    margin-left: 50px;
    margin-right: 80px;
    margin-top: 60px;
    margin-bottom: 0px;
    -webkit-print-color-adjust: exact;
}