/* --- FORM --- */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.powerhidden{
  display: none;
  visibility: hidden;
  font-size: 0;
  width: 0;
  height: 0;
  text-indent: -40000px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-size: 24px;
}

.container form input[type='submit']{
  margin-top: 15px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

span.error {
  color: red;
}


/*----GRU----*/

h1{
  text-transform: uppercase;
  font-size: 14px !important;
  text-align: center;
}

h2{
  font-size: 14px !important;
  text-align: center;
}

h3{
  font-size: 12px !important;
  font-weight: normal;
}

#gru *{
  padding: 0;
  margin: 0;
}

#gru ul {
  list-style-type: none;
}

#gru {
  border: 1px solid black;
  width: 900px;
  height: 426px;
}

#gru, #gru_barcode{
  margin-left: 10px;
  margin-top: 10px;
}

#left {
  float: left;
  width: 449px;
  height: 100%;
}

#left #brasao{
  background: url("../img/brasao.jpeg") no-repeat 10px center;
  background-size: 94px;
  padding: 19px 0 19px 40px;
}

#left #instrucoes{
  font-size: 12px;
  padding: 19px 50px 18px 10px;
}

#left div{
  border-bottom: 1px solid #000;
}

#left div.nome{
  padding: 5px;
}

#left div.nome p{
  font-weight: bold;
  font-size: 12px;
  text-indent: 10px;
  text-transform: uppercase;
}

#left div:last-of-type{
  border-bottom: none;
  text-align: center;
  padding: 35px 0 0 0;
}

#right {
  float: left;
  width: 449px;
  height: 100%;
  border-left: 1px solid #000;
}

#right li{
  border-bottom: 1px solid #000;
}

#right li span{
  width: 220px;
  display: inline-block;
  padding: 6px 0;
  font-size: 12px;
}

#right li.dif span{
  padding: 12px 0 11px 0;
}

#right li:last-of-type span{
  padding: 12px 0;
}

#right li:last-of-type{
  border-bottom: none;
}

#right li span.field{
  border-right: 1px solid #000;
  padding-left: 7px;
}

#right li span.data{
  font-weight: bold;
  text-align: right;
  padding-right: 7px;
}

#gru_barcode{
  clear: left;
  padding: 10px 0 0 15px;
  text-indent: 25px;
}

#gru_barcode img{
  margin-top: 10px;
}

p.cut{
  text-indent: 25px;
  background: url("../img/cut.png") no-repeat 10px center;
}

input#flutua_botao{
  position:fixed;
  top:10%;
  right: 0;
  border:0;
  padding: 1% 5% 1% 2%;
  background-color: #267E4A;
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  max-width: 23%;
  text-align: left;
  white-space: normal;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*----HACK CHROME----*/

@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    #left #brasao{
      background: url("../img/brasao.jpeg") no-repeat 10px center;
      background-size: 100px;
      padding: 22px 0 21px 0;
    }

    #right li.dif span{
      padding-top: 11px;
      padding-bottom: 11px;
    }

    #left #instrucoes{
      font-size: 12px;
      padding: 20px 50px 19px 10px;
    }

    #right li:last-of-type span{
      padding-top: 10px;
      padding-bottom: 10px;
    }

    #left #brasao{
      background: url("../img/brasao.jpeg") no-repeat 10px center;
      background-size: 94px;
      padding: 22px 0 21px 40px;
    }
}